:root {
    margin: 0;
    padding: 0;
    font-size:larger;
    box-sizing: border-box;
    scroll-behavior: smooth;
    --dark-dark: #2a324b;
    --very-dark: #434855;
    --semi-dark: #767b91;
    --mid-dark: #c7ccdb;
    --mid-blue: #5d6173;
    --light-blue: #7d7f85;
    --acadia: #4f5362;
    --light: #d0d6dc;
    --light-red: #a6afba;
    --red: #c43e2f;
    --gold: #ffd700;
    --header: #434855;
  }
