@import url(./color.css);

.content-container {
    padding-top: 5rem;
    color: var(--very-dark);
    border: 1px solid var(--dark-dark);
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
    text-align: justify;
    line-height: 1.6rem;
  }
  
  .content-container h3 {
    padding-top: 2rem;
  }
  .input-container {
    display: flex;
    flex-direction: column;
  }
  .input-container,
  input,
  textarea {
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 70%;
  }
  .input-container textarea {
    width: 80%;
    height: 25%;
    border-radius: 1rem;
  }
  .input-container input::placeholder,
  textarea::placeholder {
    color: rgba(99, 99, 99, 0.526);
    font-style: italic;
  }
  input,
  textarea {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #d9d9d9;
    box-shadow: inset 2px 5px 10px rgba(131, 131, 131, 0.3);
    transition: 300ms ease-in-out;
  }
  
  input:focus,
  textarea:focus {
    background-color: rgba(181, 229, 247, 0.2);
    transform: scale(1.05);
    box-shadow: 13px 13px 50px #c5c5c5, -13px -13px 50px #ffffff;
  }
  .input-button {
    position: relative;
    display: flex;
    margin-left: 1rem;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
  }
  
  .input-button::after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #01aaff;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  .input-button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }
  