@import url(./color.css);

:root {
  font-size: larger;
  box-sizing: border-box;
  --dark-dark: #2a324b;
  --very-dark: #434855;
  --semi-dark: #767b91;
  --mid-dark: #c7ccdb;
  --mid-blue: #5d6173;
  --light-blue: #7d7f85;
  --acadia: #4f5362;
  --light: #d0d6dc;
  --light-red: #a6afba;
  --red: #c43e2f;
  --gold: #ffd700;
  --header: #434855;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.scroller {
  position: fixed;
  bottom: 20px;
  z-index: 999;
  right: 10px;
  padding: 10px;
  background-color: #80281f8d;
  border-radius: 2rem;
}
a i{
 font-size: 1.2rem;
}

.menu-div {
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 0.2fr 1fr 2fr;
  background-color: var(--header);
  color: var(--light);
}
.menu-logo {
  width: 2.2rem;
  margin: 0 auto;
  margin-top: 5px;
  padding: 0.3rem;
  opacity: 0.8;
  filter: contrast(2);
  filter: brightness(1.5);
}
.menu-div .logo-name {
  grid-column: 2;
  align-self: center;
  font-weight: lighter;
  filter: contrast(1.2);
  font-size: clamp(0.5rem, 5rem, 0.8rem);
}
.ul-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin: 10px;
  padding-left: 2rem;
  align-items: center;
}
.main-li {
  width: 14%;
  padding: 1%;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1000;
  font-size: 0.8rem;
}
.ul-menu li a {
  color: var(--light);
  text-decoration: none;
}
.ul-menu .main-li:hover {
  font-weight: bolder;
  filter: contrast(0.9);
  box-shadow: inset 2px 1px 4px var(--header);
  transition: all 40ms ease-in-out;
  border-radius: 2rem;
}
.headline-box {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.background-img {
  background-image: url(../images/assassins-creed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  width: 100vw;
  filter: grayscale(0.3);
}

h1 {
  bottom: 10%;
  width: 100vw;
  font-size: clamp(0.5rem, 50vw, 2rem);
  text-shadow: 0 0 10px #767575;
  background-color: var(--very-dark);
  padding: 1rem 5rem;
  color: var(--light);
}
.content-container {
  padding-top: 5rem;
  color: var(--very-dark);
  border: 1px solid var(--dark-dark);
  border-radius: 2rem;
  padding: 2rem;
  margin: 2rem;
  text-align: justify;
  line-height: 1.6rem;
}

.content-container h3 {
  padding-top: 2rem;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.input-container,
input,
textarea {
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  width: 70%;
}
.input-container textarea {
  width: 80%;
  height: 25%;
  border-radius: 1rem;
}
.input-container input::placeholder,
textarea::placeholder {
  color: rgba(99, 99, 99, 0.526);
  font-style: italic;
}
input,
textarea {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #d9d9d9;
  box-shadow: inset 2px 5px 10px rgba(131, 131, 131, 0.3);
  transition: 300ms ease-in-out;
}

input:focus,
textarea:focus {
  background-color: rgba(178, 229, 249, 0.693);
  transform: scale(1.05);
  box-shadow: 13px 13px 50px #c5c5c5, -13px -13px 50px #ffffff;
}
.input-button {
  position: relative;
  display: flex;
  margin-left: 1rem;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

.input-button::after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #01aaff;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.input-button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

/* .footer-container {
  width: 100vw;
  height: clamp(30vw, 25%, 40vw);
  background-color: var(--header);
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-text-logo {
  padding-top: 10%;
  align-self: flex-start;
}
.footer-titel {
  font-size: 3rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(97, 97, 97, 1) 0%,
    rgba(227, 225, 224, 0.679) 52%,
    rgba(255, 255, 255, 1) 57%,
    rgba(201, 201, 201, 1) 65%,
    rgba(65, 65, 65, 1) 100%,
    rgba(255, 255, 255, 1) 57%
  );
  -webkit-background-image: -webkit-linear-gradient(
    90deg,
    rgba(97, 97, 97, 1) 0%,
    rgba(227, 225, 224, 0.579) 52%,
    rgba(255, 255, 255, 1) 57%,
    rgba(201, 201, 201, 1) 65%,
    rgba(65, 65, 65, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}
.footer-text-logo img {
  align-self: self-start;
  filter: brightness(1.2);
  padding-left: 10rem;
  width: clamp(2rem, 25%, 3rem);
}
.footer-container .fontawesome {
  padding-top: 5%;
  display: flex;
  justify-content: flex-start;
}
.fontawesome .fa-brands {
  color: var(--light);
  padding-left: 1rem;
  font-size: clamp(1rem, 25%, 1.5rem);
  margin-bottom: 5rem;
}
.fa-brands:hover {
  transform: scale(1.5, 1.5);
  color: var(--light-blue);
  cursor: pointer;
}
.footer {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
}
.footer li a {
  cursor: pointer;
  text-decoration: none;
  color: var(--light);
}
.footlist {
  margin-top: 1rem;
  text-decoration: none;
  list-style: none;
  color: var(--light);
  font-size: 1.2rem;
}
footer p {
  font-size: clamp(0.7rem, 25%, 0.8rem);
  display: flex;
  justify-content: center;
  padding: 2rem;
} */
