@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&family=Pacifico&family=Roboto+Condensed:wght@300;400;700&display=swap');
:root {
  margin: 0;
  padding: 0;
  font-size: larger;
  box-sizing: border-box;
  --dark-dark: #2a324b;
  --very-dark: #434855;
  --semi-dark: #767b91;
  --mid-dark: #c7ccdb;
  --mid-blue: #5d6173;
  --light-blue: #7d7f85;
  --acadia: #4f5362;
  --light: #d0d6dc;
  --light-red: #a6afba;
  --red: #c43e2f;
  --gold: #ffd700;
  --header: #434855;
  font-family: 'Jost', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto Condensed', sans-serif;
}
* {
  padding: 0;
  margin: 0;
}

.footer-container {
  width: 100vw;
  height: clamp(30vw, 25%, 40vw);
  background-color: var(--header);
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-titel {
  padding-top: 5rem;
  font-size: 3rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(97, 97, 97, 1) 0%,
    rgba(227, 225, 224, 0.679) 52%,
    rgba(255, 255, 255, 1) 57%,
    rgba(201, 201, 201, 1) 65%,
    rgba(65, 65, 65, 1) 100%,
    rgba(255, 255, 255, 1) 57%
  );
  -webkit-background-image: -webkit-linear-gradient(
    90deg,
    rgba(97, 97, 97, 1) 0%,
    rgba(227, 225, 224, 0.579) 52%,
    rgba(255, 255, 255, 1) 57%,
    rgba(201, 201, 201, 1) 65%,
    rgba(65, 65, 65, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

.footer-container .fontawesome {
  padding-top: 5%;
  display: flex;
  justify-content: flex-start;
}
.fontawesome .fa-brands {
  color: var(--light);
  padding-left: 1rem;
  font-size: clamp(1rem, 25%, 1.5rem);
  margin-bottom: 5rem;
}
.fa-brands:hover {
  transform: scale(1.5, 1.5);
  color: var(--light-blue);
  cursor: pointer;
}
.footer {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
}
.footer li a {
  padding-right: 1rem;
  font-size: .8rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--light);
}
.footlist {
  margin-top: 1rem;
  text-decoration: none;
  list-style: none;
  color: var(--light);
  font-size: 1.2rem;
}
footer p {
  font-size: clamp(0.7rem, 25%, 0.8rem);
  display: flex;
  justify-content: center;
  padding: 2rem;
}
