:root {
  margin: 0;
  padding: 0;
  font-size: larger;
  box-sizing: border-box;
  --dark-dark: #0b3139;
  --very-dark: #0f4754;
  --semi-dark: #16697a;
  --mid-dark: #3c92a7;
  --mid-blue: #71b6c6;
  --light-blue: #82c0cc;
  --very-light-blue: #95cbd6;
  --acadia: #79a1a5;
  --light: #dcd8d0;
  --light-red: #e2c1b6;
  --red: #c43e2f;
  --gold: #ffd700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem 1rem;
  justify-content: center;
}

.shop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16rem;
  /* outline: 2px solid var(--semi-dark); */
  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--light);
}
.shop-container:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shop-container .shop-foto {
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 12rem;
  height: 15rem;
  margin-bottom: 2rem;
  align-self: center;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}
.shop-text  {
margin-bottom: 2rem;
  align-self: center;
  text-align: center;
}
hr{
    border:2px solid #16697a5b;
    margin-bottom: 1rem;
}
button {
  align-self: center;
  width: 12rem;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 3px solid rgba(178, 65, 4, 0.666);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: var(--header);
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

button:hover {
  background: rgba(237, 29, 10, 0.51);
  box-shadow: 0 0 30px 5px rgba(228, 94, 16, 0.49);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.foto-01 {
    background-image: url(../images/2007/2013.jpg);
  }
  .foto-02 {
    background-image: url(../images/2009-11.jpg);
  }
  
  .foto-03 {
    background-image: url(../images/2010-ii.jpg);
  }
  .foto-04 {
    background-image: url(../images/2011-ii.jpg);
  }
  .foto-05 {
    background-image: url(../images/2012-ii.jpg);
  }
  .foto-06 {
    background-image: url(../images/2013-ii.jpg);
  }
  .foto-07 {
    background-image: url(../images/2014-ii.jpg);
  }
  .foto-08 {
    background-image: url(../images/2014-iii.jpg);
  }
  .foto-09 {
    background-image: url(../images/2015-ii.jpg);
  }
  .foto-10 {
    background-image: url(../images/2017.ii.png);
  }
  .foto-11 {
    background-image: url(../images/odysse-ii.png);
  }
  .foto-12 {
    background-image: url(../images/2021-ii.jpg);
  }
  .foto-13 {
    background-image: url(../images/2023.webp);
  }