@import url(./header-style.css);
@import url(./color.css);

:root {
  margin: 0;
  padding: 0;
  font-size: larger;
  box-sizing: border-box;
  --dark-dark: #2a324b;
  --very-dark: #434855;
  --semi-dark: #767b91;
  --mid-dark: #c7ccdb;
  --mid-blue: #5d6173;
  --light-blue: #7d7f85;
  --acadia: #4f5362;
  --light: #d0d6dc;
  --light-red: #a6afba;
  --red: #c43e2f;
  --gold: #ffd700;
  --header: #434855;
}
* {
  padding: 0;
  margin: 0;
}

/* ----------------Menu---------------------------

/* -----------------------Header------------------

/* -------------first text with near box--------------------------------------------
--------------------------------------------------------- */
h2 {
  font-size: 2rem;
}
h2 span {
  font-weight: 100;
  color: rgb(194, 92, 92);
}
hr {
  margin: 15px;
}

.ac-image {
  grid-area: a;
  border-radius: 0 60px 0 60px;
  background-image: url(images/2021.webp);
  background-size: cover;
  background-position: center center;
}
.bio-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.bio {
  background-color: var(--light-red);
  border-radius: 0px 42px 0px 42px;
  padding: 2rem 3rem;
  max-height: fit-content;
  min-width: 40vw;
  margin: 1rem;
}

.bio-container a {
  color: var(--red);
  text-decoration: none;
  cursor: pointer;
}
.bio p {
  text-align: justify;
}
.side-box {
  background-color: var(--light-blue);
  padding: 2rem 2rem;
  margin: 1rem;
  border-radius: 60px 0px 60px 60px;
  min-width: 5vw;
  max-height: fit-content;
}
.mid-tile-headline {
  margin: 5rem 2rem;
  background-color: var(--mid-blue);
  border-radius: 5%;
}
.main-headline {
  margin: initial;
  background-color: var(--very-dark);
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  color: var(--light);
  text-shadow: 3px 5px 10px var(--light-blue);
}
.home-sub-container {
  gap: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5%;
  height: 40rem;
  max-width: 70rem;
  
}
.home-sub-container > div {
  background-position:  center;
  flex: 0 0 8rem;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10%;
  min-width: 5rem;
  max-width: 10rem;
  height: 3rem;
  transform-origin: left;
  box-shadow: inset 2px 2px 12px 1px var(--dark-dark);
}
.home-sub-container > div:nth-child(even) {
  animation-name: images;
  animation: images 5s infinite ease-in-out alternate;
}

@keyframes images {
  from {
    transform: scale(1.1, 1.1);
  }
  to {
    transform: scale(1, 1);
  }
}
.home-sub-container > div:nth-child(odd) {
  animation-name: oddimages;
  animation: images 5s infinite ease-in-out alternate-reverse;
}
@keyframes oddimages {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}

.home-sub-container > div:hover {
  box-shadow: 2px 5px 10px 2px var(--dark-dark);
  transition: all 200ms ease-in-out;
  transform: scale(1.5, 1.5);
}
.onegrid {
  
  background-image: url(../images/2007.webp);
}
.twogrid {
  
  background-image: url(../images/2009.webp);
}
.threegrid {
  
  background-image: url(../images/2010.jpg);
}
.fourgrid {
  
  background-image: url(../images/2011.webp);
}
.fivegrid {
 
  background-image: url(../images/2012.jpg);
}
.sixgrid {
  
  background-image: url(../images/2013.jpg);
}
.sevengrid {

  background-image: url(../images/2014-2.jpg);
}
.eightgrid {
  
  background-image: url(../images/2014.jpg);
}
.ninegrid {
  
  background-image: url(../images/2015.jpg);
}
.tengrid {
  
  background-image: url(../images/2017.jpg);
}
 .elevengrid {
  transform-origin: right;
  background-image: url(../images/2018.jpg);
}
.twelvegrid {
  transform-origin: right;
  background-image: url(../images/2021.webp);
}

/* ---------------version's lists-------------------------------------------
---------------------------------------------------------- */
.game-list {
  display: inline-block;
  width: 30%;
  height: 500px;
  text-align: justify;
  border-radius: 0px 42px 0px 42px;
  -webkit-border-radius: 0px 42px 0px 42px;
  -moz-border-radius: 0px 42px 0px 42px;
  background-color: rgb(119, 104, 133, 0.4);
  overflow: auto;
  margin: 40px 20px;
  font-size: large;
}
.list-name {
  text-align: center;
}
.aclist {
  padding: 20px;
}
.image-gamelist {
  width: 100%;
  height: auto;
  object-fit: fit;
  padding: initial;
  padding: 0;
}
/* * ------------------footer-----------------------------------
---------------------------------------------------------- */

